# Webstorm
.idea/

# Openzeppelin
.openzeppelin

# Node
node_modules/

# Hardhat
cache/
artifacts/

# Deployments
deployments/localhost/
deployments/hardhat/

# Typechain
types/
typechain/

# Exports
exports/

# Env
.env

# Coverage
coverage/
coverage.json

# Certora
.certora_config
.last_confs
.certora_build.json
.certora_metadata.json
.certora_recent_jobs.json
.certora_verify.json

# docgen
docs/
